.kotak {
  border: 2px solid black;
  padding: 4px;
  font: 20px normal "tahoma";
  background-color: lightcyan;
}
.sidebar {
  background-color: lightblue;
}
.content {
  background-color: lightcoral;
}
.clear {
  float: none;
  clear: both;
}